@font-face {
    font-family: "Spoof-bold";
    src: url("../fonts/spoof-bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Formular";
    src: url("../fonts/formular-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Formular";
    src: url("../fonts/formular-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Formular";
    src: url("../fonts/formular-medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}
